body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

/*
.rt-td {
    padding: 0px!important;
}
*/

.vertical-align-middle {
    vertical-align: middle!important;
}